@import url('../../assets/css/Theme.css');

.div {
    position: static;
    padding: 1em;
    padding-top: 2em;
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease;
    background: var(--colorPrimario);
    color: var(--textoPrincipal);
}

#categorias {
    width: 130px;
}

#categorias.active {
    width: 50px;
}

.categoria__item {
    padding: 1em .5em;
    width: 130px;
    margin: .5em 0;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all .5s ease;
}

.footer {
    padding-left: .5em;
    color: var(--colorAcento);
    padding: 1em .5em;
}

.theme {
    display: flex;
    align-items: center;
    padding: .5em;
}

.theme label {
    font-size: .9em;
    margin: 0 .2em;
}

.lbl_check {
    display: inline-block;
    width: 50px;
    height: 25px;
    background: var(--textoSecundario);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#btn_check:checked~.lbl_check {
    background: var(--textoPrincipal);
}

.lbl_check::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background: var(--background);
    border-radius: 100px;
    top: 3px;
    left: 25px;
    transform: .3s;
}

#btn_check:checked~.lbl_check::after {
    left: 6px;
}

#btn_check {
    display: none;
}

/* para efectos de hover y solo sean aplicados cuando se trate de pantallas de pc */
@media screen and (min-width: 769px) {
    .categoria__item:hover {
        background: var(--background);
        width: 150px;
    }
}

/* pantallas desde ipads a dispositivos moviles  */
@media screen and (max-width: 768px) {
    .div {
        position: fixed;
        height: 4em;
        width: 100%;
        bottom: 0em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #categorias {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        /* align-items: center; */
        padding: 0 1em;
    }

    .categoria__item {
        width: max-content;
        margin: 0;
        margin-bottom: 1em;
    }

    .theme,
    .categoria__label,
    .footer {
        display: none;
    }
}