.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .5s ease;
    padding: 1.5em;
    border-radius: 15px;
    background: #b5b5b5;
    color: black;
    border:2px solid #b5b5b5;
}

.contenedor__img{
    margin: 0 auto;
    width: 150px;
    height: 130px;
}

.contenedor__img img{
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
    height: 100%;
}

.text__tittle, .text__descripcion{
    width: max-content;
    max-width: 250px;
    margin: auto;
}

.text__tittle{
    margin-top: 2em;
    border-top: 2px solid black;
    padding-top: 1em;
}

.text__descripcion{
    margin-top: 1.5em;
}

/* para dispositivos moviles */
/* 320px - 480px */
@media screen and (max-width: 480px) {}

/* para ipad tabletas */
/* 481px - 768px  */
@media screen and ((min-width: 481px) and (max-width: 768px)) {}

/* pantallas pequeñas, laptop */
/* 769px - 1024px  */
@media screen and ((min-width: 769px) and (max-width: 1024px)) {}

/* pc de escritorio, pantallas grandes */
/* 1025px - 1200px */
@media screen and ((min-width: 1025px) and (max-width: 1200px)) {}

/* para efectos de hover y solo sean aplicados cuando se trate de pantallas de pc */
@media screen and (min-width: 769px) {
    .contenedor:hover{
        transform: scale(1.1);
        color:black;
    }
    
}

