.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .5s ease;
    padding: 1.5em;
    border-radius: 15px;
    background: var(--colorSecundario);
    color: var(--colorPrimario);
}

.contenedor:hover{
    transform: scale(1.1);
    color: black;
}

.contenedor__img{
    margin: 0 auto;
    width: 200px;
    height: 140px;
}

.contenedor__img img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.text__tittle, .text__descripcion{
    width: max-content;
    max-width: 250px;
    margin: auto;
}

.text__tittle{
    margin-top: 2em;
    border-top: 2px solid white;
    padding-top: 1em;
}

.text__descripcion{
    margin-top: 1.5em;
}