.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .5s ease;
    padding: 1.5em;
    border-radius: 15px;
    background: #b5b5b5;
    color: black;
    border:2px solid #b5b5b5;
}

.contenedor:hover{
    transform: scale(1.1);
    color:black;
}

.contenedor__img{
    margin: 0 auto;
    width: 150px;
    height: 130px;
}

.contenedor__img img{
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
    height: 100%;
}

.text__tittle, .text__descripcion{
    width: max-content;
    max-width: 250px;
    margin: auto;
}

.text__tittle{
    margin-top: 2em;
    border-top: 2px solid black;
    padding-top: 1em;
}

.text__descripcion{
    margin-top: 1.5em;
}