/* @import '../../assets/css/Theme.css'; */

.contenedor{
    width: calc(100vw - 20em);
    height: calc(100vh - 6em);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--background);
    color: var(--textoPrincipal);
}

.contenedor__descripcion{
    /* border:2px solid white; */
    width: 80%;
}

.contenedor__descripcion strong{
    color: var(--colorAcento);
}

/* .contenedor__network{
    border:2px solid red;
} */

.network__ul{
    display: flex;
    gap: 2em;
    font-size: 1.1em;
}
.network__ul li i{
    margin-right: .3em;
}

.network__ul li a{
    transition: all .5s ease;
}

.network__ul li a:hover{
    color: var(--colorAcento);
}

.contenedor__sobremi{
    /* border:2px solid white; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremi__texto{
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobremi__img{
    max-width: 250px;
    flex: 1 1 0;
}
.sobremi__p{
    /* border:2px solid red; */
    text-align: justify;
    width: 90%;
}
.sobremi__img img{
    width: 100%;
}
