/* @import '../../assets/css/Theme.css'; */

.contenedor {
    width: calc(100vw - 20em);
    height: calc(100vh - 6em);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--background);
    color: var(--textoPrincipal);
}

.contenedor__descripcion {
    /* border:2px solid white; */
    width: 80%;
}

.contenedor__descripcion strong {
    color: var(--colorAcento);
}

.network__ul {
    display: flex;
    gap: 2em;
    font-size: 1.1em;
}

.network__ul li i {
    margin-right: .3em;
}

.network__ul li a {
    transition: all .5s ease;
}

.contenedor__sobremi {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremi__texto {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobremi__img {
    max-width: 250px;
    flex: 1 1 0;
}

.sobremi__p {
    text-align: justify;
    width: 90%;
}

.sobremi__img img {
    width: 100%;
    background: #0d1b2a;
    border-radius: 100%;
}

/* para dispositivos moviles */
/* 320px - 480px */
@media screen and (max-width: 480px) {
    .contenedor__descripcion{
        text-align: justify;
    }
    .contenedor__descripcion h3{
        font-size: 1.7em;
        margin-bottom: 1em;
    }
    .contenedor__descripcion h4{
        font-size: 1.2em;
    }
    .sobremi__p{
        width: 100%;
    }
}

/* para ipad tabletas */
/* 481px - 768px  */
@media screen and ((min-width: 481px) and (max-width: 768px)) {
    .contenedor__descripcion h3{
        margin-bottom: 2em;
    }
    .sobremi__p{
        font-size: 1.3em;
    }

    .network__ul li{
        font-size: 1.5em;
    }

    .network__ul li a{
        display: flex;
        flex-direction: column;
    }
    .network__ul li i{
        margin-bottom: .5em;
    }
}

/* para efectos de hover y solo sean aplicados cuando se trate de pantallas de pc */
@media screen and (min-width: 769px) {
    .network__ul li a:hover {
        color: var(--colorAcento);
    }
}

@media screen and (max-width: 768px) {
    .contenedor {
        width: 100%;
        height: 100vh;
        padding: 6em 0;
        overflow-y: scroll;
    }

    .contenedor__descripcion {
        width: 100%;
    }
    
    .contenedor__sobremi {
        width: 100%;
    }

}

@media screen and (max-width: 420px) {
    .sobremi__img {
        display: none;
    }
    .contenedor{
        padding: 5.5em 1em;
        overflow: scroll;
    }
    .network__ul{
        margin:1em 0;
    }
}