
/* *VARIABLES GLOBALES PAR LOS COLORES QUE SE USARAN */
:root {

    --fondoPrincipal: #191970;
    --textos: #f5f5f5;
    --fodosSecciones: #2e2e2e;
    --enlacesBotones: #00ced1;
    --iconosDestacados: #ff6f61;
    --resaltados: #32cd32;
}
/* AJUSTES GENERALES PARA SACAR TODO ESTILO QUE VENGAN POR DEFECTO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/* SCROOLL-BEHAVIOR PERMITE UN DESLIZAMIENTO SUAVE AL MOMENTO DE IR A X SECCION POR MEDIO DEL MENU */
/* Y LUEGO SE ESTABLECE UN TAMAÑO DE FUENTE BASE PARA TODO EL HTML  */
html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 1rem;
}
/*! ESTILOS PARA AJUSTAR EL TAMAÑO DE LAS LETRAS SEGUN LA RESOLUCION DE LA PANTALLA */
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
p{
    font-size: 1.5rem;
}
li{
    font-size: 1.4rem;
}
button{
    font-size: 1.2rem;
    letter-spacing: .2ch;
}

/* AQUI SE DETERMINA EL TIPO DE FUENTE PARA DETERMINADOS ELEMENTOS*/
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

/*? esto sirve para que, en caso de autocompletar lso inputs, el background no cambie */

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

main > *{
    padding: 0 3em;
} 
