*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--textoSecundario);
    font-family: "Arvo";
    font-size: 1rem;
}

ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--textoPrincipal);
}

/* SCROOLL-BEHAVIOR PERMITE UN DESLIZAMIENTO SUAVE AL MOMENTO DE IR A X SECCION POR MEDIO DEL MENU */
/* Y LUEGO SE ESTABLECE UN TAMAÑO DE FUENTE BASE PARA TODO EL HTML  */
html{
    font-size: 14px;
}
/*! ESTILOS PARA AJUSTAR EL TAMAÑO DE LAS LETRAS SEGUN LA RESOLUCION DE LA PANTALLA */
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}
li{
    font-size: 1rem;
}

button{
    font-size: 1.2rem;
    letter-spacing: .2ch;
}

.contenedor{
    margin: 3em;
    display: flex;
}