*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: #132147; */
    background: #2f4156;
    /* background: #f5efeb; */
    color: #f5efeb;
}

ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--cor-de-link);
}