[data-theme='light']{
    --background: #dbdbdb;
    --colorPrimario: #5f84a2;
    --colorSecundario: #7b9eb5;
    --colorAcento: #ff8fa3;
    --textoPrincipal: #1a1a2e;
    --textoSecundario: #5a6470;

}

[data-theme='dark']{
    --background: #0d1b2a;
    --colorPrimario: #194569;
    --colorSecundario: #415a77;
    --colorAcento: #ff8fa3;
    --textoPrincipal: #f5f5f5;
    --textoSecundario: #b5b5b5;
}