.contenedor{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3em;
    background: var(--colorPrimario);
    color: var(--textoPrincipal);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}
