.contenedor{
    background: var(--background);
    color: var(--textoPrincipal);
    width: calc(100vw - 20em);
    height: calc(100vh - 6em);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor__estudios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}