.contenedor{
    background: var(--background);
    color: var(--textoPrincipal);
    width: calc(100vw - 20em);
    height: calc(100vh - 6em);
    padding: 4em;
    text-align: center;
    overflow-y: scroll;
}

.contenedor__tittle{
    margin-bottom: 1em;
    color:var(--textoPrincipal);
}

.contenedor h2:nth-of-type(2){
    margin-top: 2em;
}

.contenedor__hardskill, .contenedor__softskill{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}

/* EJEMPLOS PARA ROPTURAS DE MEDIA QUERY */

/* para dispositivos moviles */
/* 320px - 480px */
@media screen and (max-width: 480px) {}

/* para ipad tabletas */
/* 481px - 768px  */
@media screen and ((min-width: 481px) and (max-width: 768px)) {}

/* pantallas pequeñas, laptop */
/* 769px - 1024px  */
@media screen and ((min-width: 769px) and (max-width: 1024px)) {}

/* pc de escritorio, pantallas grandes */
/* 1025px - 1200px */
@media screen and ((min-width: 1025px) and (max-width: 1200px)) {}

/* para efectos de hover y solo sean aplicados cuando se trate de pantallas de pc */
@media screen and (min-width: 769px) {}


@media screen and (max-width: 768px) {
    .contenedor{
        width: 100%;
        height: 100vh;
        padding: 6em 0;
    }
    .contenedor__tittle{
        font-size: 2.2em;
        margin-top: 1em;
    }
}