.contenedor{
    background: var(--background);
    color: var(--textoPrincipal);
    width: calc(100vw - 20em);
    height: calc(100vh - 6em);
    padding: 4em;
    text-align: center;
    overflow-y: scroll;
}

.contenedor__tittle{
    margin-bottom: 1em;
    color:var(--textoPrincipal);
}

.contenedor h2:nth-of-type(2){
    margin-top: 2em;
}

.contenedor__hardskill, .contenedor__softskill{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
}
