.contenedor{
    border:2px solid blue;
    /* width: 100%; */
    width: calc(100vw - 15em);
    padding: 4em;
    height: 85vh;
    text-align: center;
    overflow-y: scroll;
}

.contenedor__tittle{
    border:2px solid white;
    margin-bottom: 2em;
}

.contenedor h2:nth-of-type(2){
    margin-top: 2em;
}

.contenedor__hardskill, .contenedor__softskill{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}
